<app-wrapper>

  <ng-container *ngIf="tokenDetails$ | async as token">

    <p class="bread">
      <a [routerLink]="'/' + slpRoutes.tokens">Tokens</a> / {{token.slp.detail.symbol}}
    </p>

    <div class="tokens-details">

      <div class="tokens-details__left">

        <app-widget class="tokens-details__header mb-lg">
          <h2>
            {{token.slp.detail.name}}
          </h2>

          <p class="tokens-details__header--symbol">
            {{token.slp.detail.symbol}}
          </p>
        </app-widget>

        <app-widget class="tokens-details__chart mb-lg">
          <p>CHART COMING SOON</p>
        </app-widget>

        <app-widget class="tokens-details__orders">
          My open orders
        </app-widget>
      </div>

      <app-widget widget-sm
                  class="tokens-details__right">

        <app-tokens-details-orderbook>
        </app-tokens-details-orderbook>

        <app-tokens-details-sell [token$]="tokenDetails$">
        </app-tokens-details-sell>

      </app-widget>

    </div>

  </ng-container>

</app-wrapper>
