@import 'helpers';

:host {
  padding-left: 10px;
}

.tokens-details {
  &__header {
    background: white;
    border-radius: 4px;
    padding: 10px 15px;

    &--bottom {
      display: flex;
      padding: 10px 0 0;

      p {
        color: lighten($color-gray, 15%);
        font-size: 12px;
        font-weight: 600;
        margin-right: 20px;
      }
    }
  }
}
