<div class="header">
  <div [class.header__top--animate]="hasLoaded"
       class="header__top">
    <div class="header__top--bar">
      <a href="https://explorer.bitcoin.com/bch/blocks"
         aria-label="Bitcoin.com block explorer"
         target="_blank"
         rel="noreferrer">
        {{timeSinceLastBlock$ | async}} since last block
      </a>

      <span class="header__top--divider"></span>

      <a href="https://github.com/slpdex/slpdex"
         rel="noreferrer"
         aria-label="Star us on github"
         target="_blank">
        <svg class="header__top--github">
          <use xlink:href="#github"></use>
        </svg>
      </a>
    </div>

    <div class="header__top--bar"
         [class.header__top--connected]="slpdexDBApiService.isOpen$ | async"
         [class.header__top--disconnected]="!(slpdexDBApiService.isOpen$ | async)">

      <div class="header__top--status"></div>

      <ng-container *ngIf="slpdexDBApiService.isOpen$ | async; else disconnected">
        Connected
      </ng-container>

      <ng-template #disconnected>
        Disconnected
      </ng-template>
    </div>
  </div>

  <div class="header__bottom">
    <h1>
      <a [routerLink]="'/' + routes.landing">
        SLPDEX
      </a>
    </h1>

    <div class="header__menu">
      <a [routerLink]="'/' + routes.tokens"
         routerLinkActive="active-link">
        Tokens
      </a>

      <a [routerLink]="'/' + routes.wallet"
         routerLinkActive="active-link">
        Wallet
      </a>
    </div>
  </div>

</div>
