<div class="sell__box mb-xs">
  <p class="sell--label">
    Amount
  </p>

  <div class="input">
    <input type="number"
           [max]="totalTokenBalance"
           [min]="0"
           (keyup)="calculateTotalPrice()"
           [(ngModel)]="selectedTokenAmount">
    <p>
      {{tokenOverview.symbol}}
    </p>
  </div>
</div>

<p class="sell__balance"
   (click)="setMaxTokens()">
  Your balance {{totalTokenBalance}}
</p>

<div class="sell__box">
  <p class="sell--label">
    Price
  </p>

  <div class="input">
    <input type="number"
           (keyup)="calculateTotalPrice()"
           [(ngModel)]="selectedBchPrice">
    <p>BCH</p>
  </div>
</div>

<div class="sell__box mb-xs">
  <p class="sell--label">
    Total
  </p>

  <div class="input">
    <input type="number"
           [disabled]="true"
           [value]="totalPrice">
    <p>BCH</p>
  </div>

</div>

<p class="sell__usd">
  {{(totalPrice * usdPrice) | usdFormatter}} USD
</p>

<app-button button-md
            button-red
            [attr.disabled]="totalPrice * usdPrice < 0.001"
            (click)="sell()"
            ga-on="click"
            ga-event-category="tokenDetails"
            ga-event-action="sell">
  SELL
</app-button>
