<h3>QUICK ORDER</h3>

<p class="quick-order__label">SEND</p>

<div class="quick-order__row">

  <div class="quick-order__amount">
    1000
  </div>

  <div class="quick-order__token">
    TTTT
  </div>

</div>

<div class="quick-order__icon">
  <svg>
    <use xlink:href="#exchange"></use>
  </svg>
</div>

<p class="quick-order__label">RECEIVE</p>

<div class="quick-order__row">

  <div class="quick-order__amount">
    1000
  </div>

  <div class="quick-order__token">
    TTTT
  </div>

</div>

<a #button
   class="quick-order__button"
   (click)="createOrder()">
  Create order
</a>

<div #dummy
     class="quick-order__dummy">
</div>
