@import 'helpers';

:host {
  @media (max-width: 900px) {
    padding: 50px 0px;
  }

  @media (max-width: 500px) {
    padding: 30px 0;
  }

  background: white;
  display: flex;
  padding: 60px 0;
}

.landing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__box {
    @media (max-width: 900px) {
      flex: 0 0 auto;
      width: 50%;
    }

    @media (max-width: 500px) {
      flex: 0 0 auto;
      height: 240px;
      width: 100%;
    }

    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    max-width: 400px;
    padding: 0 20px;

    p {
      font-size: 13px;
      line-height: 1.5;
      text-align: center;
    }
  }

  h3 {
    font-size: 20px;
    margin: 20px 0;
  }
}
