<app-wrapper>
  <div class="landing-content">

    <div class="landing-content__box">
      <app-icon [icon]="'exchange'"
                [size]="80">
      </app-icon>

      <h3>Decentralized</h3>
      <p>The entire marketplace happens through smart contracts on the BCH blockchain.</p>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'unlock'"
                [size]="80">
      </app-icon>

      <h3>Open Source</h3>
      <p>
        SLPDEX' source code is available on <a href="https://github.com/slpdex/slpdex">Github</a>.
        Anyone can fork it and create their own version.
      </p>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'fee'"
                [size]="80">
      </app-icon>

      <h3>Low fee</h3>
      <p>SLPDEX charges a small fee of 0.2% for development and infrastructure provision.</p>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'bch'"
                [size]="80">
      </app-icon>

      <h3>Uncensorable</h3>
      <p>As all token offers are listed on the BCH blockchain, they cannot be removed by any developer.</p>
    </div>

  </div>
</app-wrapper>
