<app-wrapper>
  <div class="landing-content">

    <div class="landing-content__box">
      <app-icon [icon]="'exchange'"
                [size]="80">
      </app-icon>

      <h3>Decentralized</h3>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'unlock'"
                [size]="80">
      </app-icon>

      <h3>Open Source</h3>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'fee'"
                [size]="80">
      </app-icon>

      <h3>Low fee</h3>
    </div>

    <div class="landing-content__box">
      <app-icon [icon]="'bch'"
                [size]="80">
      </app-icon>

      <h3>Uncensorable</h3>
    </div>

  </div>
</app-wrapper>
