<app-button button-md
            [attr.disabled]="!(selectedOffer$ | async)"
            class="mb-md"
            (click)="buy()">
  BUY
</app-button>

<div class="orderbook__box">

  <p class="orderbook__box--label">
    Amount
  </p>

  <div class="input">
    <input type="number"
           [disabled]="!(selectedOffer$ | async)"
           [max]="tokenTotalAmount"
           [(ngModel)]="selectedAmount">

    <p>
      {{(token$ | async).slp.detail.symbol}}
    </p>
  </div>
</div>

<div class="orderbook__box mb-xs">

  <p class="orderbook__box--label">
    Price
  </p>

  <div class="input">
    <input type="number"
           [disabled]="true"
           [value]="selectedBchPrice | number:'1.8-8'">

    <p>BCH</p>
  </div>
</div>

<p class="orderbook__usd">
  {{(selectedBchPrice * usdPrice) | usdFormatter}} USD
</p>

<div class="orderbook">

  <div class="orderbook__header">
    <p>PRICE</p>
    <p>AMOUNT</p>
  </div>

  <div class="orderbook__list"
       #list>

    <ng-container *ngIf="openOffers$ | async as offers">

      <div *ngFor="let offer of offers"
           class="orderbook__item"
           [class.orderbook__item--selected]="offer.selected"
           [class.orderbook__item--my]="offer.isMyOrder"
           (click)="select(offer)">
        <p class="orderbook__item--price">
          {{offer.pricePerToken | satsToBch | number:'1.8-8'}}
        </p>

        <p class="orderbook__item--amount">
          {{offer.sellAmountToken}}
        </p>
      </div>
    </ng-container>

  </div>

</div>
