@import 'helpers';

.quick-offer {
  align-items: center;
  flex-direction: column;

  h2 {
    color: lighten($color-gray, 20%);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;

    span {
      border-bottom: 1px solid lighten($color-gray, 20%);
    }
  }

  app-button {
    margin-top: 40px;
  }

  &__input {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 100px;
    width: 100%;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 160px;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__wrapper {
    bottom: 0;
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1s ease;
  }

  &__box {
    background: white;
    border-radius: 4px;
    height: 100%;
    margin: 0 auto;
    padding: 3px 2px;
    pointer-events: all;
    width: 40%;

    app-widget {
      @include mat-elevation(2);
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 auto;
      outline: 0;
      width: 100%;
    }

    p {
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
    }

    img {
      height: 70px;
      padding: 10px;
      width: 70px;
    }
  }

  &__hide {
    opacity: 0;
  }

  &__animate {
    &--left {
      transform: translateX(-30%);
    }

    &--right {
      transform: translateX(30%);
    }
  }
}
