<h3>QUICK OFFER</h3>

<p class="quick-offer__label">SEND</p>

<div class="quick-offer__row">

  <div class="quick-offer__amount">
    1000
  </div>

  <div class="quick-offer__token">
    TTTT
  </div>

</div>

<div class="quick-offer__icon">
  <svg>
    <use xlink:href="#exchange"></use>
  </svg>
</div>

<p class="quick-offer__label">RECEIVE</p>

<div class="quick-offer__row">

  <div class="quick-offer__amount">
    1000
  </div>

  <div class="quick-offer__token">
    TTTT
  </div>

</div>

<a #button
   class="quick-offer__button"
   (click)="createoffer()">
  Create offer
</a>

<div #dummy
     class="quick-offer__dummy">
</div>
