<app-widget class="quick-offer"
            (mouseenter)="stopSlideShow()"
            (mouseleave)="startSlideShow()">

  <h2>Choose between <span>1337</span> different SLP tokens</h2>

  <div class="quick-offer__content">

    <div #tokenBoxLeft
         class="quick-offer__wrapper">
      <div class="quick-offer__box">
        <app-widget widget-sm
                    [routerLink]="[slpRoutes.tokens, selectedTokenLeft.tokenId]">

          <app-jdenticon [id]="selectedTokenLeft.tokenId"
                         [size]="60"
                         jdenticon-transparent>
          </app-jdenticon>

          <p>
            {{selectedTokenLeft.symbol}}
          </p>
        </app-widget>
      </div>
    </div>

    <div #tokenBoxRight
         class="quick-offer__wrapper quick-offer__animate--right quick-offer__hide">
      <div class="quick-offer__box">
        <app-widget widget-sm
                    [routerLink]="[slpRoutes.tokens, selectedTokenRight.tokenId]">

          <app-jdenticon [id]="selectedTokenRight.tokenId"
                         [size]="60"
                         jdenticon-transparent>
          </app-jdenticon>

          <p>
            {{selectedTokenRight.symbol}}
          </p>
        </app-widget>
      </div>
    </div>

    <app-icon [icon]="'exchange'"
              [size]="30"
              class="mx-xl">
    </app-icon>

    <div #bchBox
         class="quick-offer__wrapper">
      <div class="quick-offer__box">
        <app-widget widget-sm
                    [routerLink]="slpRoutes.tokens">

          <img src="assets/bch.png"
               alt="Bitcoin Cash logo">

          <p>
            BCH
          </p>
        </app-widget>
      </div>
    </div>

  </div>

  <app-button button-md
              button-full
              [routerLink]="slpRoutes.tokens">
    See all tokens
  </app-button>

</app-widget>
