<div class="landing__top">
  <div class="landing__bg">
    <img src="assets/bg.png"
         alt="">
  </div>

  <app-wrapper>

    <div class="landing__top__content">

      <div class="landing__top__content--left">
        <div>
          <p>NEXT GEN</p>
        </div>

        <div>
          <p>FEELESS</p>
        </div>

        <div>
          <p>DECENTRALIZED</p>
        </div>

        <div>
          <p>SLP TOKEN EXCHANGE</p>
        </div>
      </div>

      <div class="landing__top__content--right">
        <app-quick-order>
        </app-quick-order>
      </div>

    </div>

  </app-wrapper>

  <div class="landing__top__showcase">
    <div class="landing__top__showcase--wrapper">
      <div class="landing__top__showcase--img">
        <img src="assets/bitcoin-com.png"
             alt="">
      </div>

      <div class="landing__top__showcase--img">
        <img src="assets/slp.png"
             alt="">
      </div>

      <div class="landing__top__showcase--img">
        <img src="assets/bitcoin-cash.png"
             alt="">
      </div>

      <p class="landing__top__showcase--badger">
        Badger
      </p>
    </div>
  </div>
</div>

<div class="landing__content">

</div>
