<app-modal>

  <app-wrapper>

    <app-modal-heading>
      Export keys
    </app-modal-heading>

    <div class="wallet-export">
      <p class="wallet-export--title">
        Etiam feugiat lorem non metus. Maecenas vestibulum mollis diam.
      </p>

      <div class="wallet-export__content">

        <app-widget class="wallet-export__row">

          <app-icon [icon]="'key'"
                    [size]="60"
                    class="mb-sm">
          </app-icon>

          <h3>
            Public
          </h3>

          <div class="input input-lg my-sm">
            <input #public
                   type="text"
                   [value]="publicKey$ | async"
                   disabled="true">

            <app-button appCopy
                        [copyInputElement]="public"
                        [copyNotificationText]="'Copied public key'"
                        button-sm
                        ga-on="click"
                        ga-event-category="walletExport"
                        ga-event-action="copyPublic">
              Copy
            </app-button>
          </div>
        </app-widget>

        <app-widget class="wallet-export__row">

          <app-icon [icon]="'key'"
                    [size]="60"
                    class="mb-sm">
          </app-icon>

          <h3>
            Private key (WIF)
          </h3>

          <p>
            Exporting into a non-SLP wallet might burn all tokens
          </p>

          <div class="wallet-export__qr">
            <img *ngIf="privateWifQr$ | async as privateWifQr"
                 [src]="privateWifQr"
                 alt="qr code image">
          </div>

          <div class="input input-lg my-sm">
            <input #wif
                   type="text"
                   [value]="privateWif$ | async"
                   disabled="true">

            <app-button appCopy
                        [copyInputElement]="wif"
                        [copyNotificationText]="'Copied private key (WIF)'"
                        ga-on="click"
                        ga-event-category="walletExport"
                        ga-event-action="copyWif">
              Copy
            </app-button>
          </div>
        </app-widget>

      </div>

    </div>

  </app-wrapper>

</app-modal>
