@import 'helpers';

.wallet-export {
  align-items: center;
  display: flex;
  flex-direction: column;

  &--title {
    color: white;
    margin-bottom: 50px;
    text-align: center;
  }

  &__content {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }

  &__row {
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    app-button {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      padding-right: 10px;
      position: absolute;
      right: 0;
      top: 0;
    }

    h3 {
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      color: $color-orange;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__qr {
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 30px 0;

    img {
      height: 100%;
      width: auto;
    }
  }
}
