@import 'helpers';

:host {
  background: white;
  display: flex;
  padding: 50px 0;
}

.landing-recent {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__widget {
    background: #f1f1f1;
    border-radius: 4px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
