<app-wrapper>

  <div class="team">
    <h3>Meet the team</h3>

    <div class="team__members">

      <div class="team__member">
        <svg>
          <use xlink:href="#user"></use>
        </svg>

        <p class="team__member--name">
          Tobias Ruck
        </p>

        <p class="team__member--title">
          Lead developer & Backend Engineer
        </p>
      </div>

      <div class="team__member">
        <svg>
          <use xlink:href="#user"></use>
        </svg>

        <p class="team__member--name">
          Alexander Ryberg
        </p>
        <p class="team__member--title">Frontend developer & Designer</p>
      </div>

    </div>

    <div class="team__description">
      <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean posuere, tortor sed
        cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. In consectetuer turpis ut
        velit.
      </p>

      <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean posuere, tortor sed
        cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. In consectetuer turpis ut
        velit.
      </p>
    </div>

  </div>
</app-wrapper>
