<app-modal>

  <app-wrapper>

    <app-modal-heading>
      Receive funds
    </app-modal-heading>

    <div class="wallet-receive">

      <div class="wallet-receive__header">
        <p>Sed aliquam ultrices mauris. Curabitur ullamcorper ultricies nisi. Praesent egestas neque eu enim.</p>
      </div>

      <app-widget class="wallet-receive__widget">

        <h3>BCH address</h3>

        <div class="wallet-receive__qr">
          <img *ngIf="bchDataUrl$ | async as bchDataUrl"
               [src]="bchDataUrl">
        </div>

        <div class="wallet-receive__address">
          <input #bchInput
                 type="text"
                 [value]="cashAddr$ | async"
                 disabled="true">
          <app-button appCopy
                      [copyInputElement]="bchInput"
                      [copyNotificationText]="'Copied address to clipboard'">
            Copy
          </app-button>
        </div>

      </app-widget>

      <app-widget class="wallet-receive__widget">

        <h3>SLP address</h3>

        <div class="wallet-receive__qr">
          <img *ngIf="slpDataUrl$ | async as slpDataUrl"
               [src]="slpDataUrl">
        </div>

        <div class="wallet-receive__address">
          <input #slpInput
                 type="text"
                 [value]="slpAddr$ | async"
                 disabled="true">
          <app-button appCopy
                      [copyInputElement]="slpInput"
                      [copyNotificationText]="'Copied address to clipboard'">
            Copy
          </app-button>
        </div>
      </app-widget>

    </div>

  </app-wrapper>

</app-modal>
