@import 'helpers';

.wallet-receive {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__header {
    margin-bottom: 50px;

    p {
      color: white;
    }
  }

  &__widget {
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
  }

  &__qr {
    display: flex;
    margin-bottom: 10px;
    width: 100%;

    img {
      height: auto;
      margin: 0 auto;
      max-width: 300px;
      width: 100%;
    }
  }

  &__address {
    background: darken(white, 5%);
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    height: 60px;
    padding: 10px 20px;
    width: 100%;

    input {
      background: 0;
      border: 0;
      font-size: 18px;
      margin-right: 10px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    a {
      align-self: flex-end;
      background: $color-green;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
      margin-left: 10px;
      padding: 10px;
      user-select: none;
    }
  }
}
