<app-modal>

  <app-wrapper>

    <app-modal-heading>
      Receive funds
    </app-modal-heading>

    <div class="wallet-receive">

      <div class="wallet-receive__header">
        <p>Sed aliquam ultrices mauris. Curabitur ullamcorper ultricies nisi. Praesent egestas neque eu enim.</p>
      </div>

      <h3>BCH address</h3>

      <div class="wallet-receive__widget">

        <div class="wallet-receive__qr">
          <img *ngIf="bchDataUrl$ | async as bchDataUrl"
               [src]="bchDataUrl">
        </div>

        <div class="wallet-receive__address">
          <input #bchInput
                 type="text"
                 [value]="cashAddr$ | async"
                 disabled="true">
          <a class="wallet-receive__copy"
             (click)="copyBch()">
            Copy
          </a>
        </div>

      </div>

      <h3>SLP address</h3>

      <div class="wallet-receive__widget">

        <div class="wallet-receive__qr">
          <img *ngIf="slpDataUrl$ | async as slpDataUrl"
               [src]="slpDataUrl">
        </div>

        <div class="wallet-receive__address">
          <input #slpInput
                 type="text"
                 [value]="slpAddr$ | async"
                 disabled="true">
          <a class="wallet-receive__copy"
             (click)="copySlp()">
            Copy
          </a>
        </div>

      </div>

    </div>

  </app-wrapper>

</app-modal>
