<div class="landing">
  <div class="landing__bg">
    <img src="assets/bg/chicago_optimized.jpg"
         alt="background image">
  </div>

  <app-wrapper>

    <div class="landing__top">
      <h1>
        Next gen DEX for SLP tokens
      </h1>
    </div>

    <div class="landing__content">

      <div class="landing__content--left">

        <p class="landing__content--description">
          SLPDEX is a peer-to-peer DEX marketplace for SLP tokens.
          Buy & Sell tokens using the simple ledger protocol, powered by the Bitcoin Cash
          blockchain.
        </p>

        <div class="landing__content--item">
          <app-icon [icon]="'check'"
                    [size]="30"
                    class="mr-md"
                    icon-white>
          </app-icon>

          <p>
            Low fee (0.1%)
          </p>
        </div>

        <div class="landing__content--item">
          <app-icon [icon]="'check'"
                    [size]="30"
                    class="mr-md"
                    icon-white>
          </app-icon>

          <p>
            Full control of your keys
          </p>
        </div>

        <div class="landing__content--button">
          <app-button button-md
                      button-full
                      button-white
                      ga-on="click"
                      ga-event-category="landing"
                      ga-event-action="getStarted"
                      (click)="getStarted()">
            Get started
          </app-button>
        </div>

      </div>

      <div class="landing__content--right">
        <app-quick-offer>
        </app-quick-offer>
      </div>

    </div>

  </app-wrapper>

  <div class="landing__showcase">
    <div class="landing__showcase--wrapper">
      <a href="https://www.bitcoin.com/"
         target="_blank"
         aria-label="Visit bitcoin.com"
         rel="noopener"
         class="landing__showcase--img">

        <picture>
          <source srcset="assets/bitcoin-com.webp"
                  type="image/webp">
          <source srcset="assets/bitcoin-com.png"
                  type="image/png">
          <img src="assets/bitcoin-com.png"
               alt="bitcoin.com logo">
        </picture>
      </a>

      <a href="https://simpleledger.cash/"
         target="_blank"
         aria-label="Visit simpleledger.cash"
         rel="noopener"
         class="landing__showcase--img landing__showcase--slp">

        <picture>
          <source srcset="assets/slp.webp"
                  type="image/webp">
          <source srcset="assets/slp.png"
                  type="image/png">
          <img src="assets/slp.png"
               alt="slp logo">
        </picture>

      </a>

      <a href="https://www.bitcoincash.org/"
         target="_blank"
         aria-label="Visit bitcoincash.org"
         rel="noopener"
         class="landing__showcase--img">

        <picture>
          <source srcset="assets/bitcoin-cash.webp"
                  type="image/webp">
          <source srcset="assets/bitcoin-cash.png"
                  type="image/png">
          <img src="assets/bitcoin-cash.png"
               alt="Bitcoin Cash logo">
        </picture>

      </a>

      <!-- <a href="https://badger.bitcoin.com/"
         target="_blank"
         aria-label="Visit badger.bitcoin.com"
         rel="noopener"
         class="landing__showcase--badger">
        Badger
      </a> -->
    </div>
  </div>
</div>

<app-landing-content>
</app-landing-content>

<app-landing-top>
</app-landing-top>

<app-landing-team>
</app-landing-team>

<app-landing-donate>
</app-landing-donate>
