<app-widget class="header">
  <div class="header__top">

    <div class="header__left">
      <app-jdenticon [id]="tokenId"
                     [size]="50"
                     class="mr-md">
      </app-jdenticon>

      <div>
        <h2>
          {{tokenOverview.name}}
        </h2>

        <p class="tokens-details__header--symbol">
          {{tokenOverview.symbol}}
        </p>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div *ngFor="let stats of headerStats; trackBy: trackByName"
         class="header__bottom--item">
      <h4>
        {{stats.heading}}
      </h4>

      <p [class.header__bottom--green]="stats.color === 'green'"
         [class.header__bottom--red]="stats.color === 'red'">

        <ng-container *ngIf=!stats.isPrice>
          {{stats.stat}}
        </ng-container>

        <ng-container *ngIf="stats.isPrice">
          {{stats.stat | bchSeparator}} BCH
        </ng-container>

      </p>
    </div>
  </div>

</app-widget>
