<app-widget *ngIf="token$ | async as token"
            class="header">
  <div class="header__top">

    <div class="header__left">
      <app-jdenticon [id]="token._id"
                     [size]="50"
                     class="mr-md">
      </app-jdenticon>

      <div>
        <h2>
          {{token.slp.detail.name}}
        </h2>

        <p class="tokens-details__header--symbol">
          {{token.slp.detail.symbol}}
        </p>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div *ngFor="let stats of headerStats; trackBy: trackByName"
         class="header__bottom--item">
      <h4>
        {{stats.heading}}
      </h4>

      <p [class.header__bottom--green]="stats.color === 'green'"
         [class.header__bottom--red]="stats.color === 'red'">
        {{stats.stat}}
      </p>
    </div>
  </div>

</app-widget>
