/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
