@import 'vendors', 'helpers', 'animations', 'input';

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background: $color-green-light;
  color: $color-gray;
  font-display: block;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

a {
  &:active,
  &:hover,
  &:visited,
  &:link {
    color: $color-gray;
    text-decoration: none;
  }
}

.placeholder {
  animation: PulseAnimation 2s infinite;
  background: linear-gradient(
    90deg,
    darken(white, 10%),
    darken(white, 2%),
    darken(white, 10%) 100%
  );
  background-size: 300% 300%;
  border-radius: 4px;
  width: 100%;

  &--header {
    height: 50px;
    max-width: 300px;
  }

  &--text-small {
    height: 30px;
    max-width: 200px;
  }

  &--text {
    height: 30px;
    max-width: 400px;
  }

  &--text-long {
    height: 30px;
    max-width: 600px;
  }
}

@include generate-size-helpers(m, margin);
@include generate-size-helpers(p, padding);
