$color-green: #5ebd6d;
$color-green-light: #6ec37c;

$color-gray: #5c5c5c;

$color-orange: #faa352;

$color-red: #da4e4e;

$header-height: 160px;
$content-width: 1200px;

$cui-sizes: ((0, 0), (xs, 5), (sm, 10), (md, 15), (lg, 20), (xl, 25));
