@import 'helpers';

.offer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  app-widget {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__trade {
    &--wrapper {
      align-items: center;
      display: flex;
    }

    &--arrow {
      margin: 0 20px;
    }
  }

  &__divider {
    border-left: 3px dashed white;
    flex-shrink: 0;
    height: 100px;
    margin: 20px 0;
    width: 1px;
  }

  &__loading {
    align-items: center;
    background: $color-green;
    border-radius: 100%;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 70px;
  }

  &__spinner,
  &__spinner::after {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  &__spinner {
    animation: rotation 1s infinite linear;
    border-bottom: 5px solid lighten($color-green, 3%);
    border-left: 5px solid white;
    border-right: 5px solid lighten($color-green, 3%);
    border-top: 5px solid lighten($color-green, 3%);
  }
}

// :host {
//   background: $color-green-light;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   left: 0;
//   overflow: auto;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 100;
// }

// h2 {
//   font-size: 30px;
//   margin: 20px 0 40px;
// }

// h3 {
//   font-size: 20px;

//   span {
//     border-bottom: 1px solid $color-gray;
//     font-weight: 700;
//   }
// }

// .offer {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   flex-shrink: 0;
//   padding-top: 100px;

//   &__send,
//   &__receive {
//     align-items: center;
//     background: white;
//     border-radius: 4px;
//     display: flex;
//     flex-direction: column;
//     padding: 40px;
//   }

//   &__receive {
//     margin-bottom: 100px;
//   }

//   &__qr {
//     display: flex;
//     height: 200px;
//     justify-content: center;
//     padding: 10px;
//     width: 100%;

//     img {
//       object-fit: scale-down;
//     }
//   }

//   &__chain {
//     border-left: 3px dashed white;
//     flex-shrink: 0;
//     height: 100px;
//     margin: 20px 0;
//     width: 1px;
//   }

//   &__loading {
//     align-items: center;
//     background: $color-green;
//     border-radius: 100%;
//     display: flex;
//     height: 60px;
//     justify-content: center;
//     width: 60px;
//   }

//   &__spinner,
//   &__spinner::after {
//     border-radius: 50%;
//     height: 40px;
//     width: 40px;
//   }

//   &__spinner {
//     animation: rotation 1s infinite linear;
//     border-bottom: 5px solid lighten($color-green, 3%);
//     border-left: 5px solid white;
//     border-right: 5px solid lighten($color-green, 3%);
//     border-top: 5px solid lighten($color-green, 3%);
//   }
// }
