<app-modal>

  <app-wrapper>

    <div *ngIf="offer$ | async as offer"
         class="offer">

      <app-widget class="offer__trade">

        <app-icon [icon]="'lock'"
                  icon-green
                  icon-circle>
        </app-icon>

        <div class="offer__trade--wrapper">
          <app-offer-item [item]="offer.from">
          </app-offer-item>

          <app-icon [icon]="'arrow'"
                    class="offer__trade--arrow">
          </app-icon>

          <app-offer-item [item]="offer.to">
          </app-offer-item>
        </div>

      </app-widget>

      <div class="offer__divider"></div>

      <app-widget>
        <div class="offer__loading">
          <div class="offer__spinner">

          </div>
        </div>

      </app-widget>

    </div>

  </app-wrapper>

</app-modal>

<!-- <div #offer
     class="offer">

  <div class="offer__send">
    <div class="offer__loading">
      <div class="offer__spinner">

      </div>
    </div>

    <h2>Create Offer</h2>

    <h3>SEND <span>1000</span> TTTT</h3>

    <div class="offer__qr">
      <img
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
    </div>

    <p>bitcoincash:qqf04e2dd4u9ehp5jmrjmwm2au8wm6nzgudta04xrn</p>
  </div>

  <div class="offer__chain">
  </div>

  <div class="offer__receive">
    <h3>Recieve <span>10</span> BCH</h3>

    <p>Waiting for offer to be created</p>
  </div>

</div> -->
