@import 'helpers';

:host {
  display: flex;
}

h2 {
  color: white;
  font-size: 30px;
}

h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.wallet-details {
  display: flex;
  flex-direction: column;

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    &--right {
      display: flex;
      margin-left: auto;
    }

    a {
      align-items: center;
      background: white;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      font-weight: 500;
      height: 30px;
      justify-content: center;
      margin-left: 10px;
      padding: 0 30px;
      user-select: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 240px;

    &__buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: auto;

      a {
        background: $color-green;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        margin: 0 20px;
        padding: 15px 30px;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 30px;
  }

  &__tokens,
  &__transactions {
    flex: 1;
  }

  &__tokens {
    margin-right: 20px;
  }

  &__token {
    align-items: center;
    display: flex;

    &--icon {
      background: $color-gray;
      border-radius: 100%;
      flex-shrink: 0;
      height: 30px;
      margin-right: 15px;
      width: 30px;
    }

    &--name {
      font-size: 20px;
      font-weight: 600;
    }

    &--balance {
      font-size: 20px;
      font-weight: 600;
      margin-left: auto;
    }
  }

  &__transactions {
    margin-left: 20px;
  }

  &__transaction-empty {
    align-items: center;
    display: flex;
    flex-direction: column;

    svg {
      fill: $color-gray;
      height: 100px;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__widget {
    background: white;
    border-radius: 4px;
    padding: 15px 20px;
  }

  &--bch {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px;

    p {
      font-size: 40px;
    }
  }

  &--usd {
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
      text-align: center;
    }
  }
}
