<app-wrapper>
  <div class="wallet-details">
    <h2>Wallet</h2>

    <div class="wallet-details__widget">

      <div class="wallet-details__main">

        <p class="wallet-details--bch">
          {{bchBalance$ | async}} BCH
        </p>

        <p class="wallet-details--usd">
          {{usdPrice$ | async}} USD
        </p>

        <!-- <p>CashAddress: {{cashAddress$ | async}}</p>

      <p>slpAddress: {{slpAddress$ | async}}</p> -->
        <div class="wallet-details__main__buttons">
          <a class="wallet-details__send">
            Send
          </a>

          <a class="wallet-details__receive">
            Receive
          </a>
        </div>
      </div>
    </div>

    <div class="wallet-details__content">

      <div class="wallet-details__tokens">
        <h3>Tokens</h3>

        <ng-container *ngIf="(tokens$ | async) as tokens">

          <div *ngFor="let token of tokens"
               class="wallet-details__widget">
            <p>{{token.name}}</p>
            <p>{{token.symbol}}</p>
            <p>balance: {{token.balance}}</p>

          </div>
        </ng-container>

      </div>

      <div class="wallet-details__transactions">
        <h3>Transactions</h3>

        <div class="wallet-details__widget">

        </div>

      </div>

    </div>

  </div>
</app-wrapper>
