@import 'helpers';

:host {
  display: flex;
}

h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.wallet-details {
  display: flex;
  flex-direction: column;

  &--bch {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }

  &--usd {
    font-size: 20px;
    text-align: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 200px;

    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: auto;

      a {
        background: $color-green-light;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        margin: 0 20px;
        padding: 10px 20px;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 40px;
  }

  &__tokens,
  &__transactions {
    flex: 1;
  }

  &__tokens {
    margin-right: 20px;
  }

  &__transactions {
    margin-left: 20px;
  }

  &__widget {
    background: white;
    border-radius: 4px;
    padding: 40px 20px;
  }
}
