<app-modal>

  <app-wrapper>

    <app-modal-heading>
      Send
    </app-modal-heading>

    <div class="wallet-send">

      <p class="wallet-send--title">
        Praesent egestas tristique nibh.
      </p>

      <app-widget class="wallet-send__widget">

        <h2>
          {{(selected$ | async).name}}
        </h2>

        <div class="wallet-send__select">

          <input type="text"
                 placeholder="Address"
                 class="wallet-send__address"
                 [(ngModel)]="selectedAddress">

          <div class="wallet-send__amount">
            <input type="number"
                   placeholder="Amount"
                   [min]="0"
                   [max]="(selected$ | async).balance"
                   [(ngModel)]="selectedAmount">

            <p>
              Max:

              <ng-container *ngIf="(selected$ | async).isToken; else bch">
                {{(selected$ | async).balance || 0}}
              </ng-container>

              <ng-template #bch>
                {{((selected$ | async).balance | bchSeparator) || 0}}
              </ng-template>

            </p>
          </div>

        </div>

        <app-button button-full
                    button-lg
                    class="wallet-send__widget--button"
                    (click)="send()">
          Send
        </app-button>

      </app-widget>

      <div class="wallet-send__list">
        <h3>Available BCH / Tokens</h3>

        <app-coin-card *ngIf="bchDetails$ | async as bchDetails"
                       [item]="bchDetails"
                       class="mb-md"
                       (click)="selectBch()">
          <div checkbox
               class="wallet-send__check"
               [class.wallet-send__check--selected]="!(selected$ | async).isToken">
            <div>
            </div>
          </div>

        </app-coin-card>

        <app-coin-card *ngFor="let token of tokens$ | async"
                       [item]="token"
                       class="mb-md"
                       (click)="selectToken(token)">

          <div checkbox
               class="wallet-send__check"
               [class.wallet-send__check--selected]="token.id === (selected$ | async).tokenId">
            <div>
            </div>
          </div>

        </app-coin-card>

      </div>

    </div>

  </app-wrapper>

</app-modal>
