@import 'helpers';

:host {
  @include fadeIn();
  display: flex;
}

.wallet-create {
  align-items: center;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
    text-align: center;
  }

  &--title {
    color: white;
    margin-bottom: 40px;
  }

  &--or {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
  }

  &__boxes {
    align-items: center;
    display: flex;

    app-widget {
      cursor: pointer;
    }
  }

  &__warning {
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    p {
      color: $color-orange;
      text-align: center;
    }

    &--heading {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &--title {
      margin-bottom: 20px;
    }

    app-button {
      margin-top: 20px;
    }
  }
}
