<app-wrapper>

  <div class="wallet-create">

    <h2>Create wallet</h2>

    <p class="wallet-create--title">
      Proin viverra, ligula sit amet ultrices semper, Nunc nulla. Sed lectus.
    </p>

    <div class="wallet-create__content">

      <app-widget *ngIf="isSecretInStorage"
                  class="wallet-create__warning">

        <p class="wallet-create__warning--heading">
          You already have a wallet
        </p>

        <p class="wallet-create__warning--title">
          Make sure you backup your existing wallet before creating a new
        </p>

        <app-button [routerLink]="'../' + slpRoutes.walletExport"
                    button-orange
                    button-md>
          Export
        </app-button>
      </app-widget>

      <div class="wallet-create__boxes">
        <app-widget (click)="create()">
          <h3>
            Create a new wallet
          </h3>
        </app-widget>

        <p class="wallet-create--or">OR</p>

        <app-widget>
          <h3>
            Import private key
          </h3>
        </app-widget>
      </div>

    </div>

  </div>

</app-wrapper>
