<app-wrapper>

  <div class="wallet">

    <div class="wallet__none">
      <h2>Connect to wallet</h2>
      <p class="wallet__none--title">
        Proin viverra, ligula sit amet ultrices semper, Nunc nulla. Sed lectus.
      </p>

      <div class="wallet__none--selection">

        <div class="wallet__none--box"
             (click)="create()">
          Create a new wallet
        </div>

        <p class="wallet__none--or">OR</p>

        <div class="wallet__none--box">
          Import private key
        </div>

      </div>

      <div class="wallet__info">
        <p>
          A fee wallet is...
        </p>

        <p>Etiam iaculis nunc ac metus. Aenean commodo ligula eget dolor Phasellus magna. Nam commodo suscipit quam.
          Etiam ultricies nisi
          vel augue.</p>

        <p>Etiam iaculis nunc ac metus. Aenean commodo ligula vel augue.</p>

      </div>

    </div>

  </div>

</app-wrapper>
