.jdenticon {
  align-items: center;
  background: darken(white, 5%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

:host {
  &[jdenticon-transparent] {
    .jdenticon {
      background: 0;
    }
  }
}
