@import 'helpers';

:host {
  display: flex;
  user-select: none;

  // If routerlink is being used on the element
  &:focus,
  &:active {
    outline: 0;
  }

  .button {
    @include mat-elevation(2);
    align-items: center;
    background: $color-green;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    justify-content: center;
    outline: 0;
    padding: 5px 20px;
    width: 100%;
  }

  &[button-full] {
    width: 100%;
  }

  &[button-lg] {
    font-size: 26px;
    height: 60px;
  }

  &[button-md] {
    .button {
      font-size: 18px;
      height: 50px;
      padding: 5px 30px;
    }
  }

  &[button-sm] {
    .button {
      font-size: 12px;
      height: 30px;
      padding: 5px 15px;
    }
  }

  &[button-white] {
    .button {
      background: white;
      color: $color-gray;
    }
  }

  &[button-disabled] {
    .button {
      background: darken(white, 30%);
      color: white;
      cursor: default;
    }
  }

  &[button-orange] {
    .button {
      background: $color-orange;
      color: white;
    }
  }

  &[button-red] {
    .button {
      background: #da4e4e;
      color: white;
    }
  }
}
