<app-widget class="coin-card"
            widget-small>

  <ng-content select="[checkbox]"></ng-content>

  <div class="coin-card__icon">
    <svg [attr.data-jdenticon-value]="item.id">
    </svg>
  </div>

  <div class="coin-card__left">
    <p class="coin-card__left--name">
      {{item.name}}
    </p>
    <p>{{item.balance}} {{item.symbol}}</p>
  </div>

  <div class="coin-card__right">

    <a class="coin-card__right--address"
       [href]="'https://explorer.bitcoin.com/bch/tx/' + item.id"
       target="_blank"
       [attr.title]="item.id">
      {{item.shortId}}
    </a>

    <ng-content select="[right]"></ng-content>
  </div>

</app-widget>
