<app-widget class="coin-card"
            widget-sm>

  <ng-content select="[checkbox]"></ng-content>

  <app-jdenticon *ngIf="item.id"
                 [id]="item.id"
                 class="mr-md">
  </app-jdenticon>

  <img *ngIf="!item.id"
       src="assets/bch.webp"
       class="coin-card__bch">

  <div class="coin-card__left">
    <p class="coin-card__left--name">
      {{item.name}}
    </p>

    <p>
      <ng-container *ngIf="item.isToken; else bch">
        {{item.balance}}
      </ng-container>

      <ng-template #bch>
        {{item.balance | bchSeparator}}
      </ng-template>

      {{item.symbol}}
    </p>
  </div>

  <div class="coin-card__right">

    <a class="coin-card__right--address"
       [href]="'https://explorer.bitcoin.com/bch/tx/' + item.id"
       target="_blank"
       [attr.title]="item.id">
      {{item.shortId}}
    </a>

    <ng-content select="[right]"></ng-content>
  </div>

</app-widget>
