@import 'helpers';

:host {
  display: block;
}

.coin-card {
  align-items: center;
  cursor: pointer;
  display: flex;

  &__bch {
    height: 45px;
    margin-right: 15px;
    width: 45px;
  }

  &__left {
    &--name {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  &__right {
    align-items: center;
    display: flex;
    margin-left: auto;

    &--address {
      border-bottom: 1px solid $color-gray;
      font-weight: 500;
    }
  }
}
