<app-widget class="coin-card"
            widget-sm>

  <ng-content select="[checkbox]"></ng-content>

  <app-jdenticon *ngIf="item.id"
                 [id]="item.id"
                 class="mr-md">
  </app-jdenticon>

  <img *ngIf="!item.id"
       src="assets/bch.webp"
       class="coin-card__bch">

  <div class="coin-card__left">
    <p class="coin-card__left--name">
      {{item.name}}
    </p>

    <p [class.coin-card--green]="item.enableBalanceColor && (item.balance?.toNumber() > 0 || item.percentage?.toNumber() > 0)"
       [class.coin-card--red]="item.enableBalanceColor && (item.balance?.toNumber() < 0 || item.percentage?.toNumber() < 0)">
      <ng-container *ngIf="item.isToken && item.balance">
        {{item.balance}}
      </ng-container>

      <ng-container *ngIf="!item.isToken && item.balance">
        {{item.balance | bchSeparator}} BCH
      </ng-container>

      <ng-container *ngIf="item.percentage">
        {{item.percentage.times(100).toFixed(2)}} %
      </ng-container>
      {{item.symbol}}
    </p>
  </div>

  <div class="coin-card__right">

    <a *ngIf="!item.timeSince"
       class="coin-card__right--address"
       [href]="'https://explorer.bitcoin.com/bch/tx/' + item.id"
       target="_blank"
       [attr.title]="item.id"
       (click)="stopEventPropagation($event)">
      {{item.shortId}}
    </a>

    <p *ngIf="item.timeSince">
      {{item.timeSince}}
    </p>

  </div>

</app-widget>
