@import 'helpers';

:host {
  &[coin-card-dark] {
    .coin-card {
      &__right {
        &--address {
          border-color: white;
        }
      }
    }
    app-widget {
      background: lighten($color-gray, 15%);
      color: white;

      a,
      p {
        color: white;
      }
    }
  }

  display: block;
}

.coin-card {
  align-items: center;
  cursor: pointer;
  display: flex;

  &__bch {
    height: 40px;
    margin-right: 15px;
    width: 40px;
  }

  &__left {
    &--name {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    &--address {
      border-bottom: 1px solid $color-gray;
      font-weight: 500;
    }
  }

  &--green {
    color: $color-green !important;
  }

  &--red {
    color: $color-red !important;
  }
}
