@import 'helpers';

:host {
  display: block;
}

.tokens {
  &__search {
    background: lighten($color-green-light, 10%);
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    height: 40px;
    margin-bottom: 10px;
    outline: 0;
    padding: 10px;
    width: 30%;

    &::placeholder {
      color: white;
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    height: calc(100vh - #{$header-height} - 100px);

    app-tokens-list {
      width: 30%;
    }

    app-tokens-details {
      width: 70%;
    }
  }
}
