@import 'helpers';

:host {
  @include fadeIn();
  display: block;
}

.tokens {
  display: flex;
  flex-direction: column;

  app-widget {
    @media (max-width: 1000px) {
      padding: 20px;
    }

    @media (max-width: 800px) {
      padding: 20px 10px;
    }

    flex-direction: column;
  }

  &__filter {
    display: flex;
    margin-bottom: 10px;
    width: 100%;

    &__search {
      display: flex;
      max-width: 200px;
      position: relative;
      width: 100%;

      &--icon {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 5px;
        pointer-events: none;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      &--show {
        opacity: 1 !important;
      }

      .input {
        opacity: 0;
        transition: opacity .2s ease;

        &:hover,
        &:focus {
          opacity: 1;
          transition: opacity .2s ease;
        }
      }

      input {
        text-indent: 25px;
      }
    }
  }
}
