<app-wrapper>

  <div class="tokens">

    <app-widget>
      <div class="tokens__filter">

        <div class="tokens__filter__search">

          <div class="tokens__filter__search--icon">
            <app-icon [icon]="'search'"
                      [size]="24">
            </app-icon>
          </div>

          <div [class.tokens__filter__search--show]="searchVal"
               class="input">
            <input type="text"
                   placeholder="Search tokens.."
                   [(ngModel)]="searchVal">
          </div>
        </div>

      </div>

      <app-tokens-list [searchVal]="searchVal">
      </app-tokens-list>

    </app-widget>
  </div>

</app-wrapper>
