<app-wrapper>

  <div class="wallet">

    <div class="wallet__none">
      <h2>Access a fee wallet</h2>
      <p class="wallet__none--title">
        Fees are <span>cheap</span> & required for <span>decentralized</span> P2PKH transactions
      </p>

      <div class="wallet__none--selection">

        <div class="wallet__none--box">
          Create a new wallet
        </div>

        <p class="wallet__none--or">OR</p>

        <div class="wallet__none--box">
          Import private key
        </div>

      </div>

      <div class="wallet__info">
        <p>
          A fee wallet is...
        </p>

        <p>Etiam iaculis nunc ac metus. Aenean commodo ligula eget dolor Phasellus magna. Nam commodo suscipit quam.
          Etiam ultricies nisi
          vel augue.</p>

        <p>Etiam iaculis nunc ac metus. Aenean commodo ligula eget dolor Phasellus magna. Nam commodo suscipit quam.
          Etiam ultricies nisi
          vel augue.</p>

      </div>

    </div>

  </div>

</app-wrapper>
