<div #order
     class="order">

  <div class="order__send">
    <div class="order__loading">
      <div class="order__spinner">

      </div>
    </div>

    <h2>Create Order</h2>

    <h3>SEND <span>1000</span> TTTT</h3>

    <div class="order__qr">
      <img
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
    </div>

    <p>bitcoincash:qqf04e2dd4u9ehp5jmrjmwm2au8wm6nzgudta04xrn</p>
  </div>

  <div class="order__chain">
  </div>

  <div class="order__receive">
    <h3>Recieve <span>10</span> BCH</h3>

    <p>Waiting for order to be created</p>
  </div>

</div>
