<app-wrapper>
  <div class="wallet-details">

    <div class="wallet-details__header">
      <h2>Wallet</h2>

      <div class="wallet-details__header--right">
        <app-button button-white
                    [routerLink]="slpRoutes.walletCreate"
                    ga-on="click"
                    ga-event-category="wallet"
                    ga-event-action="import">
          Import
        </app-button>

        <app-button button-white
                    [routerLink]="slpRoutes.walletExport"
                    ga-on="click"
                    ga-event-category="wallet"
                    ga-event-action="export">
          Export
        </app-button>
      </div>
    </div>

    <app-widget>

      <div class="wallet-details__main">

        <div class="wallet-details--bch">
          <p>
            {{bchBalance$ | async | bchSeparator}} BCH
          </p>
        </div>

        <div class="wallet-details--usd">
          <p>
            {{usdPrice$ | async | usdFormatter}} USD
          </p>
        </div>

        <div class="wallet-details__main__buttons">
          <app-button [routerLink]="slpRoutes.walletSend"
                      button-md
                      class="mr-lg"
                      ga-on="click"
                      ga-event-category="wallet"
                      ga-event-action="send">
            Send
          </app-button>

          <app-button [routerLink]="slpRoutes.walletReceive"
                      button-md
                      class="ml-lg"
                      ga-on="click"
                      ga-event-category="wallet"
                      ga-event-action="receive">
            Receive
          </app-button>
        </div>

      </div>

    </app-widget>

    <div class="wallet-details__content">

      <div class="wallet-details__tokens">
        <h3>Tokens</h3>

        <app-coin-card *ngFor="let token of (tokens$ | async); trackBy: trackById"
                       [item]="token"
                       class="mb-sm">

          <app-button right
                      class="ml-md"
                      (click)="openSendToken(token)"
                      ga-on="click"
                      ga-event-category="wallet"
                      ga-event-action="sendToken">
            Send
          </app-button>

        </app-coin-card>

        <app-widget *ngIf="!(tokens$ | async).length && !(isLoading$ | async)"
                    class="wallet-details__transaction-empty">
          <svg>
            <use xlink:href="#empty"></use>
          </svg>

          <p>No tokens yet</p>
        </app-widget>

      </div>

      <div class="wallet-details__transactions">
        <h3>Transactions</h3>

        <app-widget class="wallet-details__transaction-empty">
          <svg>
            <use xlink:href="#empty"></use>
          </svg>

          <p>No transactions yet</p>
        </app-widget>

      </div>

    </div>

  </div>
</app-wrapper>
