<app-wrapper>
  <div class="wallet-details">

    <div class="wallet-details__header">
      <h2>Wallet</h2>

      <div class="wallet-details__header--right">
        <a>Import</a>
        <a>Export</a>
      </div>
    </div>

    <div class="wallet-details__widget">

      <div class="wallet-details__main">

        <div class="wallet-details--bch">
          <p>
            {{bchBalance$ | async | bchSeparator}} BCH
          </p>
        </div>

        <div class="wallet-details--usd">
          <p>
            {{usdPrice$ | async}} USD
          </p>
        </div>

        <div class="wallet-details__main__buttons">
          <a [routerLink]="'../' + slpRoutes.walletSend"
             class="wallet-details__token--send">
            Send
          </a>

          <a [routerLink]="'../' + slpRoutes.walletReceive"
             class="wallet-details__receive">
            Receive
          </a>
        </div>
      </div>
    </div>

    <div class="wallet-details__content">

      <div class="wallet-details__tokens">
        <h3>Tokens</h3>

        <app-coin-card *ngFor="let token of (tokens$ | async); trackBy: trackById"
                       [item]="token"
                       class="mb-sm">

          <a right
             class="wallet-details__token--send ml-md"
             (click)="openSendToken(token)">
            Send
          </a>

        </app-coin-card>

      </div>

      <div class="wallet-details__transactions">
        <h3>Transactions</h3>

        <div class="wallet-details__widget wallet-details__transaction-empty">
          <svg>
            <use xlink:href="#empty"></use>
          </svg>

          <p>No transactions yet</p>
        </div>

      </div>

    </div>

  </div>
</app-wrapper>
