<app-wrapper>

  <div class="landing-donate">
    <h3>
      Did you know that this project is dependent on donations?
    </h3>

    <p>
      In this project we're using a mixed low exchange fee & donation model. If you like this project,
      please show us support by sending a donation to our developers.
    </p>
  </div>

  <div class="landing-donate__button">
    <app-button button-green
                button-lg
                [routerLink]="slpRoutes.donate">
      DONATE
    </app-button>
  </div>

</app-wrapper>
