@import 'helpers';

:host {
  background: $color-gray;
  display: flex;
  padding: 50px 0 200px;
}

h3,
p {
  color: white;
  text-align: center;
}

.landing-donate {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;

  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }

  &__button {
    margin: 50px auto;
    max-width: 200px;
    width: 100%;
  }
}
