<app-wrapper>
  <div class="landing-content">

    <div class="landing-content__box">

      <svg>
        <use xlink:href="#exchange"></use>
      </svg>

      <h3>Decentralized</h3>

      <p>Curabitur blandit mollis lacus. Etiam iaculis nunc ac metus. Ut a nisl id ante tempus hendrerit.</p>

    </div>

    <div class="landing-content__box">

      <svg>
        <use xlink:href="#unlock"></use>
      </svg>

      <h3>Open Source</h3>

      <p>Curabitur blandit mollis lacus. Etiam iaculis nunc ac metus. Ut a nisl id ante tempus hendrerit.</p>

    </div>

    <div class="landing-content__box">

      <svg>
        <use xlink:href="#fee"></use>
      </svg>

      <h3>Low fee</h3>

      <p>Curabitur blandit mollis lacus. Etiam iaculis nunc ac metus. Ut a nisl id ante tempus hendrerit.</p>

    </div>

    <div class="landing-content__box">

      <svg>
        <use xlink:href="#exchange"></use>
      </svg>

      <h3>Open Source</h3>

      <p>Curabitur blandit mollis lacus. Etiam iaculis nunc ac metus. Ut a nisl id ante tempus hendrerit.</p>

    </div>
  </div>
</app-wrapper>
