<div class="tokens-list">

  <div class="tokens-list__row">
    <div *ngFor="let sort of tokensSort; trackBy: trackByName"
         class="tokens-list__col"
         [class.tokens-list--count]="sort.name === '#'"
         [class.tokens-list--name]="sort.name === 'NAME'"
         (click)="sortColumn(sort)">

      <p class="tokens-list--label">
        {{sort.name}}
      </p>

      <app-sort *ngIf="!sort.ignoreSorting"
                [sort]="sort.sortBy">
      </app-sort>
    </div>
  </div>

  <div *ngIf="isLoading"
       class="tokens-list__spinner">
    <mat-spinner>
    </mat-spinner>
  </div>

  <div *ngFor="let token of tokens; let i = index"
       class="tokens-list__row"
       [routerLink]="['./', token.tokenId]">

    <div class="tokens-list__col tokens-list--count">
      {{i + 1}}
    </div>

    <div class="tokens-list__col tokens-list--name">

      <app-jdenticon [id]="token.tokenId"
                     class="mr-md">
      </app-jdenticon>

      <div>
        <p class="tokens-list--heading">
          {{token.name}}
        </p>

        <p>
          {{token.symbol}}
        </p>
      </div>

    </div>

    <p class="tokens-list__col">
      {{(token.marketCapSatoshis || 0) | satsToBch | bchSeparator}} BCH
    </p>

    <p class="tokens-list__col">
      {{(token.lastTrade.pricePerToken || 0) | satsToBch | bchSeparator}} BCH
    </p>

    <p class="tokens-list__col">
      {{(token.last24h.volumeSatoshis || 0) | satsToBch | bchSeparator}} BCH
    </p>

    <p class="tokens-list__col"
       [class.tokens-list__price--positive]="token.last24h.priceIncrease?.toNumber() > 0"
       [class.tokens-list__price--negative]="token.last24h.priceIncrease?.toNumber() < 0">
      {{(token.last24h.priceIncrease?.toFixed(2) || 0) * 100}}%
    </p>

  </div>

</div>
