<div class="tokens-list">

  <div class="tokens-list__row tokens-list__top">
    <div class="tokens-list__col tokens-list--count">
      <p class="tokens-list--label">
        #
      </p>
    </div>

    <div class="tokens-list__col tokens-list--name">
      <p class="tokens-list--label">
        NAME
      </p>
    </div>

    <div class="tokens-list__col">
      <p class="tokens-list--label">
        PRICE
      </p>
    </div>

    <div class="tokens-list__col">
      <p class="tokens-list--label">
        VOLUME
      </p>
    </div>

    <div class="tokens-list__col">
      <p class="tokens-list--label">
        LAST 24H
      </p>
    </div>
  </div>

  <div *ngFor="let token of tokens$ | async let i = index"
       class="tokens-list__row"
       [routerLink]="['./', token.symbol]">

    <div class="tokens-list__col tokens-list--count">
      {{i + 1}}
    </div>

    <div class="tokens-list__col tokens-list--name">

      <div class="tokens-list__icon"
           [innerHTML]="token.icon">
      </div>

      <div>
        <p class="tokens-list--heading">
          {{token.name}}
        </p>

        <p>
          {{token.symbol}}
        </p>
      </div>

    </div>

    <div class="tokens-list__col">
      123
    </div>

    <div class="tokens-list__col">
      456
    </div>

    <div class="tokens-list__col">

      <p class="tokens-list__price--positive">
        13.37%
      </p>
    </div>

  </div>

</div>
