@import 'helpers';

.tokens-list {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }

  &__spinner {
    align-items: center;
    display: flex;
    height: calc(100vh - #{$header-height} - 150px);
    justify-content: center;
    min-height: 400px;
  }

  &__row {
    border-bottom: 1px solid darken(white, 10%);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 10px;

    &:focus,
    &:active {
      outline: 0;
    }

    &:not(.tokens-list__top):hover {
      background: darken(white, 2%);
      transition: .4s background ease;
    }
  }

  &__col {
    align-items: center;
    display: flex;
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
  }

  &__price {
    &--positive {
      color: $color-green;
    }

    &--negative {
      color: $color-red;
    }
  }

  &--heading {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &--label {
    align-items: center;
    display: flex;
    font-weight: 600;
    user-select: none;
  }

  &--count {
    flex: 0 0 auto;
    width: 40px;
  }

  &--name {
    flex: 0 0 auto;
    width: 30%;
  }
}
