@import 'helpers';

.tokens-list {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }

  &__row {
    border-bottom: 1px solid darken(white, 10%);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 10px;

    &:not(.tokens-list__top):hover {
      background: darken(white, 2%);
      transition: .4s background ease;
    }
  }

  &__col {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &__icon {
    align-items: center;
    background: darken(white, 5%);
    border-radius: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 15px;
    width: 40px;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &__price {
    &--positive {
      color: $color-green;
    }
  }

  &--heading {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &--label {
    font-weight: 600;
  }

  &--count {
    flex: 0 0 auto;
    width: 50px;
  }

  &--name {
    flex: 0 0 auto;
    width: 30%;
  }
}
