<app-wrapper>

  <div class="team">
    <h3>Meet the team</h3>

    <div class="team__members">

      <div class="team__member">
        <picture>
          <source srcset="assets/avatars/tobias.webp"
                  type="image/webp">
          <source srcset="assets/avatars/tobias.png"
                  type="image/png">
          <img src="assets/avatars/tobias.png"
               alt="">
        </picture>

        <p class="team__member--name">
          Tobias Ruck
        </p>

        <p class="team__member--title">
          Backend developer
        </p>
      </div>

      <div class="team__member">

        <picture>
          <source srcset="assets/avatars/alex.webp"
                  type="image/webp">
          <source srcset="assets/avatars/alex.png"
                  type="image/png">
          <img src="assets/avatars/alex.png"
               alt="">
        </picture>

        <p class="team__member--name">
          Alex Ryberg
        </p>
        <p class="team__member--title">
          Frontend developer
        </p>
      </div>

    </div>

    <div class="team__description">
      <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean posuere, tortor sed
        cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. In consectetuer turpis ut
        velit.
      </p>

      <p>
        Nullam dictum felis eu pede mollis pretium. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Vivamus euismod mauris. In hac habitasse platea dictumst. Proin viverra, ligula sit amet ultrices semper, ligula
        arcu tristique sapien, a accumsan nisi mauris ac eros.
      </p>

      <p>
        Praesent adipiscing. Morbi ac felis. Ut id nisl quis enim dignissim sagittis. Praesent porttitor, nulla vitae
        posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum.
      </p>
    </div>

  </div>
</app-wrapper>
