@import 'helpers';

:host {
  background: $color-gray;
  display: flex;
  padding: 100px 0 50px;
}

h3,
p {
  color: white;
}

.team {
  h3 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  &__members {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    img {
      @include mat-elevation(4);
      background: white;
      border-radius: 100%;
      height: 160px;
      margin: 20px 0;
      padding: 5px;
      width: 160px;
    }
  }

  &__member {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 340px;

    &--name {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &--title {
      font-size: 20px;
    }
  }

  &__description {
    margin: 0 auto;
    max-width: 800px;

    p {
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
