@import 'helpers';

:host {
  background: white;
  display: flex;
  padding: 0 0 100px;
}

h3 {
  @media (max-width: 700px) {
    text-align: center;
  }

  font-size: 26px;
  margin-bottom: 20px;
}

.landing {
  @media (max-width: 700px) {
    flex-direction: column;
  }

  display: flex;

  &__box {
    @media (max-width: 700px) {
      margin: 0 0 20px !important;
    }

    flex: 1;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }

  app-coin-card {
    margin-bottom: 10px;
  }

  &__footer {
    @media (max-width: 700px) {
      margin-top: 10px;
    }

    margin: 0 auto;
    margin-top: 30px;
    max-width: 300px;
    width: 100%;
  }
}
