<app-widget class="open-offers">
  <h2>
    Open offers ({{openOffers.length}})
  </h2>

  <ng-container *ngIf="openOffers.length; else noOffers">
    <app-widget *ngFor="let offer of openOffers; trackBy: trackByTimestamp"
                widget-sm
                class="open-offers__item">

      <p>
        {{offer.sellAmountToken}} {{(token$ | async).slp.detail.symbol}}
      </p>

      <p>
        {{offer.pricePerToken | satsToBch}} BCH
      </p>

      <p>
        {{offer.timeSince}}
      </p>

      <div class="open-offers__cancel">
        <app-button (click)="cancel(offer)"
                    button-sm
                    button-red>
          Cancel
        </app-button>
      </div>
    </app-widget>
  </ng-container>

  <ng-template #noOffers>
    <p>
      No open offers for {{(token$ | async).slp.detail.symbol}}
    </p>
  </ng-template>

</app-widget>
